<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link rel="stylesheet"  href="/css/bootsrap.css">

</head>
<body>
	<h1>Add User</h1>
	<form action="/users" method="POST">
		<div class="input-group">
			<label>Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
			<input type="text" name="name">
		</div>
		<br>
		<div class="input-group">
			<label>Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
			<input type="text" name="email">
		</div>
		<br>
		<div class="input-group">
			<label>Password </label>
			<input type="text" name="password">
		</div>
		<br>
		<button type="submit">Send</button>
		<a href="/users">&nbsp;Kembali</a>
	</form>
	<footer>
		<p>&copy; 2021 Erpi Resty Utari</p>
	</footer>
</body>
</html>