<!DOCTYPE html>
<html>
<head>
	<title>User</title>
	<link rel="stylesheet"  href="/css/bootstrap.css">
</head>
<body>
	<%- include('../components/navbar') %>
	<a href="/users/create">Register</a>
	<h1>Daftar User</h1>
	<ul>
		<% users.forEach( function(user){ %> 
		<li><%=user.name %></li>
		<% }) %>
	
	</ul>
	<footer>
	<p>&copy; 2021 Erpi Resty Utari</p>
	</footer>
</body>
</html>

