<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<div class="container mt-3">
<body>
	<div class="card text-center">
	  <div class="card-header">
	    	    	<%- include('components/navbar')%>
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Selamat Datang !</h5>
			<h2>About</h2>
	  </div>
	  <div class="card-footer text-muted">
	    <footer>
		<p>&copy; 2021 Erpi Resty Utari</p>
	</footer>
	  </div>
	</div>
  </div>
</div>
</div>
</body>
</html>