<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<div class="container mt-3">
<body>
	<div class="card text-center">
	  <div class="card-header">
	   <%- include('components/navbar')%>
	  </div>
	  <div class="card-body">
			<h1>Hello World! </h1>
			<h2>Kelas <%= kelas.nama%></h2>
			<h3><%=kelas.date%></h3>
	  </div>
	  <div class="card-footer text-muted">
	   <footer>
		<p>&copy; 2021 Erpi Resty Utari</p>
	</footer>
	  </div>
	</div>
  </div>
</div>
</div>
</body>
</html>